{% extends 'base.html' %} {% load staticfiles %} {% block content %}


<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Chat of {{ current_user }} </h1>
        <div class="panel-body">

          <div id="message_box" class="border-bottom-0 col-md-8">

          </div>
          <div class="col-md-4">
            <form id="userslist" action="">
              {% for user in users %}
              <p>
                <input type="radio" name="user" value={{ user.username }}> {{ user.username }} {% endfor %}</p>
            </form>
          </div>
          <div class="col-md-8">


            <input id="text_input" style="width: 80%;" value="type your text here !">
            </input>
            <button onclick=outputMessage() style="width: 15%;"> send </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  var discussions = {}
  socket = new WebSocket("ws://" + window.location.host + "/chat/");
  var current_user = "{{current_user}}";
  var div_message_box = document.getElementById("message_box");


  function outputMessage() {
    var textareaval = $('input#text_input').val();
    var target = $('input[name=user]:checked', '#userslist').val();
    var message = '{user_source:"' + current_user + '",target:"' + target + '",content:"' + textareaval + '"}';
    var history_message = {
      'type': 'src',
      'message': textareaval
    }

    if (discussions.hasOwnProperty(target)) {
      discussions[target].push(history_message);
    } else {
      discussions[target] = [history_message];
    }

    $('input#text_input').val(" ");

    div_message_box.innerHTML += '<p style="background-color: #4EA148;">' + textareaval + '<p>';
    socket.onopen(message);
  }

  function load_history(user) {
    $('div#message_box').empty();
    if (discussions.hasOwnProperty(user)) {
      for (var i = 0; i < discussions[user].length; i++) {
        if (discussions[user][i].type == 'src') {
          div_message_box.innerHTML += '<p style="background-color: #4EA148;">' + discussions[user][i].message + '<p>';
        } else {
          div_message_box.innerHTML += '<p style="background-color: #394CAE;" align="right">' + discussions[user][i].message + '<p>';

        }
      }
    }
  }

  $('#userslist input').on('change', function() {
    load_history($('input[name=user]:checked', '#userslist').val());
  });


  socket.onopen = function(message) {
    socket.send(message);
  }

  socket.onclose = function() {
    console.log("Disconnected from chat socket");
  }

  socket.onmessage = function(message) {
    // Decode the JSON
    eval('var data=' + message.data);
    if (data.target == current_user) {
      var history_message = {
        'type': 'target',
        'message': data.content
      }
      if (discussions.hasOwnProperty(data.target)) {
        discussions[data.user_source].push(history_message);
      } else {
        discussions[data.user_source] = [history_message];
      }

      div_message_box.innerHTML += '<p style="background-color: #394CAE;" align="right">' + data.content + '<p>';
    }


  }

  socket.onerror = function() {
      console.log("errors");
    }
    // Call onopen directly if socket is already open
  if (socket.readyState == WebSocket.OPEN) socket.onopen();
</script>

{% endblock %}
