{% extends 'base.html' %} {% load staticfiles %} {% block content %}


{{ current_user }}

{% for user in users %}
<div class="col-md-4">
    <div class="announce panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{{ user.username }}</h2>
        <div id={{ user.username }} class="border-bottom-0">
        </div>
        <div>


         <input id={{ user.username }} rows="4" cols="50" value="type your text here !">
        </input>
        <button onclick=outputMessage({{user.username}})> send </button>
        </div>
      </div>

    </div>
  </div>

{% endfor %}


<script>


socket = new WebSocket("ws://" + window.location.host + "/chat/");
var current_user = "{{current_user}}";


function outputMessage(element) {
  console.log("ouput"+element);
  console.log(current_user);
  console.log(current_user+"----->"+element.id);
  var textareaval = $('input#'+element.id).val();

  //var myobj = JSON.parse('{ "user_source":"titeuf,"target": "test","message":" fdsfds"}');
  var target = element.id;
  //var message = '{ "user_source" : "'+current_user+',"target" : "'+target+'","message" : "'+textareaval+'"}';

  var message = '{user_source:"'+current_user+'",target:"'+target+'",content:"'+textareaval+'"}';





  $('input#'+element.id).val(" ");
  var div = document.getElementById(element.id);
  div.innerHTML += '<p>'+textareaval+'<p>';

  socket.onopen(message);
}


socket.onopen = function(message) {
    //console.log("Connected to chat socket");

    socket.send(message);
    console.log(socket);

}

socket.onclose = function () {
      console.log("Disconnected from chat socket");
  }

socket.onmessage = function (message) {
    // Decode the JSON
    eval('var data='+message.data);
    console.log(data)
    var div = document.getElementById(data.user_source);
    //var div = document.getElementById('messagebox');
    div.innerHTML += '<p align="right">'+data.content+'<p>';


}

socket.onerror = function()
{
  console.log("errors");
}
// Call onopen directly if socket is already open
if (socket.readyState == WebSocket.OPEN) socket.onopen();

</script>

{% endblock %}
